body, html {
    font-family: "Montserrat",Helvetica,sans-serif;
}

/* Выделить активный элемент sidebar */
.aside .menu .menu-item>.menu-link.active {
    border-left: 3px solid #f15a22;
}

/* Выделить активный элемент header */
.header .header-menu .menu>.menu-item.here>.menu-link .menu-title, .header .header-menu .menu>.menu-item.show>.menu-link .menu-title,
.header .header-menu .menu>.menu-item .menu-link:hover:not(.disabled):not(.active) .menu-title, .header .header-menu .menu>.menu-item.hover>.menu-link:not(.disabled):not(.active) .menu-title {
    color: #f15a22;
}
